/* --------------------------------
Animation de la page d'acceuil
----------------------------------*/

.animation div{
    transform: translateX(1000px);
    animation: anim-entete 1s 1s forwards cubic-bezier(0,1,1,1.21);
}

@keyframes anim-entete
{
0%{
    transform: translateX(1000px);
}
100%{
    transform: translateX(0);
}
}


$columns :5;

@for $i from 1 through $columns{
    .animation div:nth-of-type(#{$i}){

        animation-delay: .5*$i#{s};

    }
}

/* --------------------------------
Animation de la section principal
----------------------------------*/

$paramAnim: (
    1 : translateY(-500px),
    2:  translateY(-600px),
    3 : translateX(-500px),
    4:  translateY(600px),
    5:  translateY(500px)
    );

/*
@function couleur($propriete){
    @return map-get($couleurs, $propriete);
}

$animation :5;

@for $i from 1 through $animation{
    .animation2 div:nth-of-type(#{$i}){

        animation: anim-#{$i} 1s both .5*$i#{s};
        @return map-get($paramAnim, $animation);
    }
}
*/
@keyframes anim-principal
{
0%{
    transform: translateY(-1000px);
}
100%{
    transform: translateY(0);
}
}

.animation2 div{
    transform: translateY(1000px);
    animation: anim-principal 1s 1s both cubic-bezier(0,1,1,1.21);
}



$mot :5;

@for $i from 1 through $mot{
    .animation2 div:nth-of-type(#{$i}){

        animation: anim-#{$i} 1s both .5*$i#{s};

    }
}
/* --------------------------------
Animation de la section pied de page
----------------------------------*/
.animation3 div{
    transform: translateX(1000px);
    animation: anim-piedpage 1s 1s forwards cubic-bezier(0,1,1,1.21);
    animation-delay: 1s;
}


@keyframes anim-piedpage
{
0%{
    transform: translateX(1000px);
}
100%{
    transform: translateX(0);
}
}