* {
    margin : 0;
    padding :0;
}

body {
    width : 100vw;
    height : 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    // background-color: rgb(179, 179, 204);
    background-color: #fff;

}


body::after {
    content : "";
    clip-path: polygon(25% 100%, 1% 100%, 1% 0%, 100% 0%, 100% 57%);

    //background-color: rgb(43, 71, 233);
    background-color: couleur(primaire);
    position: absolute;
    width : 100%;
    height : 100%;
    top : 0;
    bottom :0;
    left :0;
    right : 0;
    z-index: -1;
}

h1{font-size:4rem ;}
h2{font-size:3rem ;}
h3{font-size:2rem ;}
h4{font-size:1rem ;}
h5{font-size:.8rem ;}
h6{font-size: .7rem ;}
p {
    font-size: .6rem;
}

.bloc {
   
    background-color:transparent;
    color :white;
    font-size: 3rem;
    margin-left : 0;
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bloc img {
    width : 100px;
    height : 100px;
    display: block;
    border-radius :50%;
    margin-right : 15px;
}

.grille {
    display : grid;
    width: 80%;
    margin : 0 auto;
    grid-gap : 20px;
    grid-template-columns: 1fr 1fr 1fr;

    grid-template-areas: 
        "entete entete entete"
        "menu menu menu"
        "annonce1 annonce1 annonce1"
        "principal principal principal"
        "pied-page pied-page pied-page";
        @include desktop    
        {
        grid-template-areas: 
            "entete entete entete"
            "menu menu menu"
            "principal annonce1 annonce1"
            "pied-page pied-page pied-page";
            .pied-page{
                color:white;
            }
        }

        @include tablette
        {
            grid-template-areas: 
            "entete"
            "menu"
            "principal"
            "annonce1"
            "pied-page";
            margin : 0 auto;
            grid-template-columns: 1fr;
           
            .entete div{
                display: none;
            }

            .pied-page{
                color:black;
            }
       
        }
       
        @include mobile
        {
            grid-template-areas: 
                "entete"
                "menu"
                "principal"
                "annonce1"
                "pied-page";
                margin : 0 auto;
                grid-template-columns: 1fr;
               
                .principal div{
                   font-size: 60px;
                }
                .entete div{
                    display: none;
                }
                .annonce1{
                    width:300px;
                    height:500px;
                    background-color: black;
                    color: white;
                    border-radius: 10px;
                    box-shadow: 7px 3px 11px 4px #ff0022;
                    padding: 42px;
                    margin: 20px;
                    div{
                        font-size: .4em;
                        display:flex;
                        align-items: center;
                        color:white;
                        
                        }
                }
                
           .pied-page{
               color:black;
           }
      
             

               
            }

}

#chkburger {
    display: none;
    
  }
  
  #burger {
    display: flex;
    background-color:black;
    border-radius: 5rem;
    padding: .8rem;
    width: 3rem;
    height:3rem;
   justify-content: center;
   align-items: center;
  }
  
  #chkburger:checked ~ nav {
    clip-path: ellipse(100% 163% at 47% 50%);
    justify-content: space-around;
    
  }
  
  #chkburger:checked ~ nav a{
  opacity: 100%;
  
  
  }
  .menu {
    display: flex;
  }
  
  .menu nav {
    display: flex;
    align-items: center;
    background-color: black;
    transition: clip-path 3s;
    clip-path: ellipse(50% 103% at -50% 50%);
    border-radius : 0 5rem 5rem 0;
    justify-content: space-around;
    transform:translateX(-1em);
    
  }
  
  .menu nav a {
    display: block;
    padding: .8rem;
    opacity: 0;
    transition: opacity 2s;
    
  
  }
  
  
  .menu nav a:hover
  {
  
  border-radius: 2;
  opacity:0.8;
  transition: .9s ease-in-out;
  
  
  }
  
  
  .i:hover{
    background-color: rgb(133, 0, 0);
    border-radius: 50%;
    
  
  }
  .m:hover{
    background-color: rgb(133, 0, 0);
    border-radius: 30%;
    
   
  }
  .a:hover{
    background-color: rgb(133, 0, 0);
    border-radius: 50%;
   
    
  }
  .g:hover{
    background-color: rgb(133, 0, 0);
    border-radius: 30%;
   
    
  }
  .e:hover{
    background-color: rgb(133, 0, 0);
    border-radius: 50%;
  
   
  }
  




.entete{
    grid-area: entete;

}

.menu{
    grid-area: menu;

}


.annonce1{
    grid-area: annonce1;
}

.principal{
    grid-area: principal;
}

.pied-page{
    grid-area: pied-page;
}

.entete{
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    section{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
    }
    div
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width:  50px;
        height: 50px;
        flex-direction: row;
        border-radius: 50%;
        background-color:red;

    }
}

.annonce1{
    
    background-color: white;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 3px 11px 4px #757472;
    padding: 42px;
    margin: 20px;
    div{
        font-size: .4em;
        display:flex;
        align-items: center;
        color:black;
        }
    }

.annonce2{
    padding: 42px;
    margin: 20px;
    background-color: white;
    color: #1c2127;
    section {
        display : flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

.principal{
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        padding: 1rem 0 1rem 0;
    }

}

.animation2 div:nth-child(1){
color:red;
}

.animation2 div:nth-child(2){
    color: white;
    }

.animation2 div:nth-child(3){
    color: red;
    }

.animation2 div:nth-child(4){
    color: white;
    }

.animation2 div:nth-child(5){
    color: red;
    }

    .animation2{
        font-family: 'Bebas Neue', cursive;
        font-size:70px;
    }

    .animation3 div
    {  
        font-size:30px;
    }